:root {
  --femco-color: #fadc58;
}

body {
  margin-top: 25px;
}

h1 {
  text-align: center;
}

.linkToFemco {
  text-decoration: none;
  color: black;
}
.linkToFemco:hover {
  color: var(--femco-color);
  text-decoration: underline;
}
